# Build
/build/

# Debug
/debug/

# Examples
/examples/authentication-secret.json
/examples/client-secret.json

# Exports
/export/authentication-secret.json
/export/client-secret.json
/export/articles/*.xml

# Composer
/vendor/

# Documentation
/documentation/

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/node_modules/

# WordPress
/wordpress/

# PHPStorm
/.idea

# PHP CS Fixer
/.php-cs-fixer.cache
