# Build
/build/

# Debug
/debug/

# Examples
/examples/authentication-secret.json
/examples/client-secret.json

# Exports
/export/authentication-secret.json
/export/client-secret.json
/export/activities/*.xml
/export/articles/*.xml
/export/bank-statements/**/*.json
/export/cost-centers/*.xml
/export/customers/*.xml
/export/declarations/*.json
/export/declarations/*.xml
/export/fixed-assets/*.xml
/export/general-ledger-accounts-bas/*.xml
/export/general-ledger-accounts-pnl/*.xml
/export/projects/*.xml
/export/sales-invoices/**/*.xml
/export/suppliers/*.xml
/export/transactions/**/*.xml

# Composer
/vendor/

# Documentation
/documentation/

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/node_modules/

# WordPress
/wordpress/

# PHPStorm
/.idea

# PHP CS Fixer
/.php-cs-fixer.cache

# PHPUnit
/.phpunit.result.cache

# Visual Studio Code
/.vscode
