<?xml version="1.0"?>

<ruleset name="Pronamic Twinfield">
	<file>.</file>

	<rule ref="PronamicWP">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax" />
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="nodeValue" />
			</property>
		</properties>
	</rule>
</ruleset>
