<?xml version="1.0"?>

<ruleset name="Pronamic Twinfield">
	<file>.</file>

	<rule ref="PronamicWP">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax" />
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="childNodes" />
				<element value="documentElement" />
				<element value="ownerDocument" />
				<element value="nodeValue" />
				<element value="formatOutput" />
				<element value="preserveWhiteSpace" />
			</property>
		</properties>
	</rule>
</ruleset>
