<?xml version="1.0"?>

<ruleset name="Pronamic Twinfield">
	<file>.</file>

	<exclude-pattern>build/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PronamicWP">

	</rule>
</ruleset>
