{
	"swagger": "2.0",
	"info": {
		"version": "open-v1",
		"title": "Twinfield Public REST API Resources"
	},
	"host": "accounting.twinfield.com",
	"basePath": "/Api",
	"schemes": [
		"https"
	],
	"paths": {
		"/organisations/{organisationId}/companies/{companyId}/sales/articles": {
			"get": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Returns list of articles",
				"description": "Returns list of articles with specified search parameters.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readArticles | writeArticles)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getArticles",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "searchPattern",
						"in": "query",
						"description": "Pattern of article name. Default value is empty string",
						"required": false,
						"type": "string",
						"default": ""
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Offset. Number of articles that should be skipped if any found. Default value is 0",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 0
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Max count of articles in list. Default value is 50",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 50
					},
					{
						"name": "orderBy",
						"in": "query",
						"description": "Name of article field which should be used for ordering list. Default value is name",
						"required": false,
						"type": "string",
						"default": "name"
					},
					{
						"name": "customerCultureCode",
						"in": "query",
						"description": "Culture code of article's customer",
						"required": false,
						"type": "string"
					},
					{
						"name": "asc",
						"in": "query",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "vats",
						"in": "query",
						"description": "List of VAT IDs which belongs to articles",
						"required": false,
						"type": "array",
						"items": {
							"type": "string",
							"format": "uuid"
						},
						"collectionFormat": "multi"
					},
					{
						"name": "grossPriceFrom",
						"in": "query",
						"description": "Min value of article's gross price",
						"required": false,
						"type": "number",
						"format": "double"
					},
					{
						"name": "grossPriceTo",
						"in": "query",
						"description": "Max value of article's gross price",
						"required": false,
						"type": "number",
						"format": "double"
					},
					{
						"name": "searchScope",
						"in": "query",
						"description": "Translation scope where seach will be done",
						"required": false,
						"type": "string",
						"enum": [
							"anyTranslation",
							"firstAvailableTranslation"
						]
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns list of articles with specified search parameters",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Creates new article",
				"description": "Creates new article with properties specified in parameters.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeArticles\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "createArticle",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "articleData",
						"in": "body",
						"description": "Object that contain properties of new article. Value for revenueTypeId can be ommited, in this case it'll be updated to default",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						},
						"headers": {
							"Id": {
								"description": "ID of newly created article",
								"type": "string",
								"format": "uuid"
							},
							"Location": {
								"description": "URL of the created article",
								"type": "string",
								"format": "url"
							},
							"ETag": {
								"description": "Version of article, should be 1",
								"type": "string"
							}
						}
					},
					"202": {
						"description": "Article hasn't been created yet"
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"422": {
						"description": "Article code is already in use"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Returns allowed operations for articles API",
				"description": "Returns the list of allowed operations related to retrieving/creating articles via API.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readArticles | writeArticles)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "ArticleSummaries_Options",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed articles API _links",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/sales/articles/{id}": {
			"get": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Returns article by specified ID",
				"description": "Returns article details by specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readArticles | writeArticles)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getArticleById",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of article",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"description": "Version of article. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns requested article",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						},
						"headers": {
							"ETag": {
								"description": "Version of article",
								"type": "string"
							}
						}
					},
					"304": {
						"description": "Article was not modified"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Article with specified ID does not exist"
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Updates article",
				"description": "Updates article with provided values.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeArticles\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "updateArticle",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of article",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "articleData",
						"in": "body",
						"description": "Object that contain properties required to update",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "Version of article. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content",
						"headers": {
							"ETag": {
								"description": "Version of updated article",
								"type": "string"
							}
						}
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Article with specified ID does not exist"
					},
					"412": {
						"description": "Article with specified version was modified since last request"
					},
					"422": {
						"description": "Article code is already in use"
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Deletes article with specified ID",
				"description": "Deletes article with specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeArticles\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "deleteArticle",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of article",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "Version of article. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Article with specified ID does not exist"
					},
					"412": {
						"description": "Article with specified version was modified since last request"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Returns allowed operations for article with specified ID",
				"description": "Returns allowed operations for article with specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readArticles | writeArticles)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "Article_Options",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of article",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed article API _links",
						"headers": {
							"Accept-Patch header": {
								"description": "Accept-Patch shows if patch action is available for resource and which media type should be used",
								"type": "string"
							},
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Article with specified ID does not exist"
					}
				},
				"deprecated": false
			},
			"patch": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Partially updates article",
				"description": "In article only provided fields are updated with provided values.\u003Cbr\u003EJavaScript Object Notation (JSON) Patch rule can be found in specification: https://tools.ietf.org/html/rfc6902. Available operations: 'add', 'remove', 'replace'.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeArticles\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "partiallyUpdateArticle",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of article",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "patchRequest",
						"in": "body",
						"description": "Object that contains PATCH operations",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Core.Web.Patch.PatchRequest_Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "If-Match",
						"in": "header",
						"description": "Version of article. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "Twinfield-Nonce",
						"in": "header",
						"description": "Nonce that can be used to execute unique request",
						"required": false,
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Content-Type should be application/json-patch+json. For more information: https://tools.ietf.org/html/rfc6902",
						"required": false,
						"type": "string"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Updated customer is returned if accept specified",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Sales.Articles.Models.ArticleModel"
						},
						"headers": {
							"ETag": {
								"description": "Version of updated article",
								"type": "string"
							}
						}
					},
					"204": {
						"description": "Response does not have any content",
						"headers": {
							"ETag": {
								"description": "Version of updated article",
								"type": "string"
							}
						}
					},
					"400": {
						"description": "Incorrect data is provided. The reason is returned in body"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Article with specified ID does not exist"
					},
					"412": {
						"description": "Article with specified version was modified since last request"
					},
					"422": {
						"description": "Article code is already in use"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/sales/articlecultures": {
			"get": {
				"tags": [
					"Sales Articles"
				],
				"summary": "Returns list of article cultures",
				"description": "Returns list of article cultures.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readArticles | writeArticles)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getArticleCultures",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns list of article cultures",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Twinfield.Web.Api.Core.Structures.CultureModel"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/bookkeeping/audittrails/matching": {
			"get": {
				"tags": [
					"Bookkeeping Audit Trails"
				],
				"summary": "Returns a list of matching audit trail entries",
				"description": "Returns a list of matching audit trail entries, that can be requested from where the process left off using the fromSequence parameter.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user readBookkeepingMatches\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getMatchingAuditTrailEntries",
				"consumes": [],
				"produces": [
					"application/vnd.twinfield+json",
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "fromSequence",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32",
						"maximum": 200,
						"minimum": 1
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns the list as expected.",
						"schema": {
							"$ref": "#/definitions/Twinfield.SharedContracts.AuditTrails.AuditTrailPage_Twinfield.Web.Api.Bookkeeping.AuditTrails.Matching.Models.AuditTrailEventModel"
						}
					},
					"400": {
						"description": "Incorrect search parameters were provided."
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/bookkeeping/accounts/{id}": {
			"get": {
				"tags": [
					"Bookkeeping Ledger Accounts"
				],
				"summary": "Returns the specified ledger account.",
				"description": "Returns the ledger account with the specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBookkeeping | readBudgets | readCustomers | readFixedAssets | readSuppliers | readVat | readVatGroup)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBookkeepingAccountById",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "The requested ledger account details.",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Bookkeeping.Accounts.Models.AccountApiModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "The ledger account with the specified ID does not exist."
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Bookkeeping Ledger Accounts"
				],
				"summary": "Gets ledger account operations.",
				"description": "Returns a list of possible operations with the specified ledger account ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBookkeeping | readBudgets | readCustomers | readFixedAssets | readSuppliers | readVat | readVatGroup)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBookkeepingAccountOptionsById",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed _links.",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Ledger Account with specified id does not exist"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/bookkeeping/accounts": {
			"get": {
				"tags": [
					"Bookkeeping Ledger Accounts"
				],
				"summary": "Returns ledger accounts.",
				"description": "Returns a list of ledger accounts with the specified search parameters.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBookkeeping | readBudgets | readCustomers | readFixedAssets | readSuppliers | readVat | readVatGroup)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBookkeepingAccounts",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "offset",
						"in": "query",
						"description": "The number of ledger accounts that should be skipped if any found. The default value is 0.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 30
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The maximum number of ledger accounts to return. The default value is 50. The minimum value is 1.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 15
					},
					{
						"name": "orderBy",
						"in": "query",
						"description": "Order results by 'Code, Name'.",
						"required": false,
						"type": "string",
						"default": 0,
						"enum": [
							"code",
							"name"
						]
					},
					{
						"name": "asc",
						"in": "query",
						"description": "Order results ascending or descending. See OrderBy.",
						"required": false,
						"type": "boolean",
						"default": true
					},
					{
						"name": "searchPattern",
						"in": "query",
						"description": "Search pattern. It is used for searching by name and code. Default value is empty string.",
						"required": false,
						"type": "string"
					},
					{
						"name": "types",
						"in": "query",
						"description": "Filter by account type. Available account types are: 'Activity, Balance, CostCenter, Creditor, Debtor, FixedAsset, ProfitAndLoss, Project'. The default value is 'Balance,ProfitAndLoss'.",
						"required": false,
						"type": "string",
						"default": "Balance,ProfitAndLoss"
					},
					{
						"name": "modifiedSince",
						"in": "query",
						"description": "If present accounts modified on or after the specified time are returned.",
						"required": false,
						"type": "string",
						"format": "date-time"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns a list of ledger accounts with the specified search parameters.",
						"schema": {
							"$ref": "#/definitions/Twinfield.Core.PagedList_Twinfield.Web.Api.Bookkeeping.Accounts.Models.AccountApiModel"
						}
					},
					"400": {
						"description": "The search parameters are incorrect."
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Bookkeeping Ledger Accounts"
				],
				"summary": "Gets ledger accounts operations.",
				"description": "Returns a list of possible operations with ledger accounts.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBookkeeping | readBudgets | readCustomers | readFixedAssets | readSuppliers | readVat | readVatGroup)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBookkeepingAccountsOptions",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed _links.",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/bookkeeping/audittrails": {
			"get": {
				"tags": [
					"Bookkeeping Audit Trails"
				],
				"summary": "Returns links to available bookkeeping audit trails",
				"description": "Returns links to the the available bookkeeping audit trails in the _links property.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user readBookkeepingMatches\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBookkeepingAuditTrails",
				"consumes": [],
				"produces": [
					"application/vnd.twinfield+json",
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns links to available bookkeeping audit trails."
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/periods/{year}": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Get periods for year",
				"description": "Get all periods for year, open and closed.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getYearPeriods",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "year",
						"in": "path",
						"description": "Year to get the periods",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "includeSystemPeriods",
						"in": "query",
						"description": "To include system periods, false by default",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.PeriodModel"
							}
						}
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "No periods configured for specified year"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Budgets"
				],
				"summary": "Returns list of actions",
				"description": "Returns allowed operations for budgeting periods Api.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getYearPeriodsOptions",
				"consumes": [],
				"produces": [
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "year",
						"in": "path",
						"description": "Year to get the periods",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "includeSystemPeriods",
						"in": "query",
						"description": "To include system periods, false by default",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed api _links for budgeting year periods",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"400": {
						"description": "Incorrect parameters are provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "The list of API links for Budgeting",
				"description": "Returns budgeting API _links.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "budgetingGet",
				"consumes": [],
				"produces": [
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Budgets"
				],
				"summary": "Budgeting API entry point",
				"description": "Returns allowed operations for budgeting API.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "budgetingOptions",
				"consumes": [],
				"produces": [
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed budgeting API _links",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/{id}/lines/{year}/{period}/{unitOfMeasure}/{generalLedgerId}/{costCenterId}/{projectId}": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Returns budget line by specified identity.",
				"description": "Returns budget line resource by specified identity.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBudgetLine",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "period",
						"in": "path",
						"description": "Period budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "unitOfMeasure",
						"in": "path",
						"description": "Unit of measure of budget line value",
						"required": true,
						"type": "string",
						"enum": [
							"monetary",
							"qty1",
							"qty2"
						]
					},
					{
						"name": "generalLedgerId",
						"in": "path",
						"description": "General ledger accound id budget line made for",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "costCenterId",
						"in": "path",
						"description": "Optional, cost center accound id budget line made for",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "projectId",
						"in": "path",
						"description": "Optional, project accound id budget line made for, to use please provide also cost center",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"description": "Version of budgetLine. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns requested budget line",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetLineViewModel"
						}
					},
					"304": {
						"description": "Budget line wasn't modified"
					},
					"400": {
						"description": "Incorrect parameters are provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget line with specified identity does not exist"
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": [
					"Budgets"
				],
				"summary": "Updates existing budget line",
				"description": "Updates existing budget line with new values.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "updateBudgetLine",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "period",
						"in": "path",
						"description": "Period budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "unitOfMeasure",
						"in": "path",
						"description": "Unit of measure of budget line value",
						"required": true,
						"type": "string",
						"enum": [
							"monetary",
							"qty1",
							"qty2"
						]
					},
					{
						"name": "generalLedgerId",
						"in": "path",
						"description": "General ledger accound id budget line made for",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "value",
						"in": "body",
						"description": "Object that contain budget line value, debit and credit",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetLineValue"
						}
					},
					{
						"name": "costCenterId",
						"in": "path",
						"description": "Optional, cost center accound id budget line made for",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "projectId",
						"in": "path",
						"description": "Optional, project accound id budget line made for, to use please provide also cost center",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"400": {
						"description": "Some parameters are invalid or missing"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget line with specified identity does not exist"
					},
					"422": {
						"description": "Validation error, provided value is invalid"
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": [
					"Budgets"
				],
				"summary": "Creates new budget line",
				"description": "Creates new budget line with specified by params identity and value in body.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "addBudgetLine",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "period",
						"in": "path",
						"description": "Period budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "unitOfMeasure",
						"in": "path",
						"description": "Unit of measure of budget line value",
						"required": true,
						"type": "string",
						"enum": [
							"monetary",
							"qty1",
							"qty2"
						]
					},
					{
						"name": "generalLedgerId",
						"in": "path",
						"description": "General ledger accound id budget line made for",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "value",
						"in": "body",
						"description": "Object that contain budget line value, debit and credit",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetLineValue"
						}
					},
					{
						"name": "costCenterId",
						"in": "path",
						"description": "Optional, cost center accound id budget line made for",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "projectId",
						"in": "path",
						"description": "Optional, project accound id budget line made for, to use please provide also cost center",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"description": "URL of the created budget line",
								"type": "string",
								"format": "url"
							}
						}
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"422": {
						"description": "Validation error, provided value is invalid"
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": [
					"Budgets"
				],
				"summary": "Delete existing budget line by specified identity.",
				"description": "Delete existing budget line by specified identity.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "deleteBudgetLine",
				"consumes": [],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "period",
						"in": "path",
						"description": "Period budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "unitOfMeasure",
						"in": "path",
						"description": "Unit of measure of budget line value",
						"required": true,
						"type": "string",
						"enum": [
							"monetary",
							"qty1",
							"qty2"
						]
					},
					{
						"name": "generalLedgerId",
						"in": "path",
						"description": "General ledger accound id budget line made for",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "costCenterId",
						"in": "path",
						"description": "Optional, cost center accound id budget line made for",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "projectId",
						"in": "path",
						"description": "Optional, project accound id budget line made for, to use please provide also cost center",
						"required": false,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"400": {
						"description": "Incorrect parameters are provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget line with specified identity does not exist"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/{id}/lines/{year}": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Returns budget lines filtered by specified parameters.",
				"description": "Returns paged list of budget lines filtered by specified parameters.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "findBudgetLinesByParams",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "period",
						"in": "query",
						"description": "Optional, Period of budget lines to be selected",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"maximum": 55,
						"minimum": 0
					},
					{
						"name": "type",
						"in": "query",
						"description": "Optional, The type of budget line value to be selected, allowed values Monetary, Quantity and all. Default value is All",
						"required": false,
						"type": "string",
						"default": "all",
						"enum": [
							"all",
							"monetary",
							"quantity"
						]
					},
					{
						"name": "generalLedgerId",
						"in": "query",
						"description": "Optional, General ledger accound id budget lines to be selected",
						"required": false,
						"type": "string",
						"format": "uuid",
						"default": "2BB0D62A-F2D4-4D12-BE6B-33D4EFC2BC8D"
					},
					{
						"name": "costCenterId",
						"in": "query",
						"description": "Optional, cost center accound id budget lines to be selected",
						"required": false,
						"type": "string",
						"format": "uuid",
						"default": "8676A377-2AF7-47F9-AAA8-12061266AA20"
					},
					{
						"name": "projectId",
						"in": "query",
						"description": "Optional, project accound id budget lines to be selected",
						"required": false,
						"type": "string",
						"format": "uuid",
						"default": "198222B6-4286-4CE9-AC08-C17C979FA579"
					},
					{
						"name": "modifiedSince",
						"in": "query",
						"description": "Optional. Filters budget lines modified since specified date. The default value is null.",
						"required": false,
						"type": "string",
						"format": "date-time",
						"default": "2022-02-01"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Offset. Number of budget lines that should be skiped if any found. Default value is 0.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"maximum": 2147483647,
						"minimum": 0
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Max count of budget lines in list. Default value is 50.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 50,
						"maximum": 10000,
						"minimum": 1
					},
					{
						"name": "orderBy",
						"in": "query",
						"description": "Optional, field name for order. Possible values: 'createdAt' or 'lastModifiedAt'. Uses default order if it is not specified.",
						"required": false,
						"type": "string",
						"default": 1
					},
					{
						"name": "asc",
						"in": "query",
						"description": "Optional, asceding or desceding order. The default value is true.",
						"required": false,
						"type": "boolean",
						"default": true
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns paged list of budget lines filtered by specified parameters.",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetLineViewModel"
						}
					},
					"400": {
						"description": "Incorrect parameters are provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "No budget with specified id exists"
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": [
					"Budgets"
				],
				"summary": "Delete all budget lines related to specified year.",
				"description": "Delete all budget lines related to specified year.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "deleteAnnualBudgetLines",
				"consumes": [],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget line belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget line made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"400": {
						"description": "Incorrect parameters are provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/{id}/lines/{year}/copy": {
			"post": {
				"tags": [
					"Budgets"
				],
				"summary": "Copy all budget lines related to specified year to provided target.",
				"description": "Copy all budget lines related to specified year to provided target.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "copyAnnualBudgetLines",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Id of budget lines belongs to",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"description": "Year budget lines made for",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "target",
						"in": "body",
						"description": "Target year and multiplier",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.CopyTargetModel"
						}
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"description": "URL of the created budget line",
								"type": "string",
								"format": "url"
							}
						}
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"422": {
						"description": "Validation error, provided value is invalid"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Get all budgets",
				"description": "Get all scenarios for budgets.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBudgets",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "searchPattern",
						"in": "query",
						"description": "Optional, pattern for search budgets by its code, name or description.",
						"required": false,
						"type": "string",
						"default": "normal"
					},
					{
						"name": "modifiedSince",
						"in": "query",
						"description": "Optional. Filters budgets modified since specified date. The default value is null.",
						"required": false,
						"type": "string",
						"format": "date-time",
						"default": "2022-02-01"
					},
					{
						"name": "includeYearsSummary",
						"in": "query",
						"description": "Optional, include years summary or not. The default value is true.",
						"required": false,
						"type": "boolean",
						"default": true
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Offset. Number of budgets that should be skiped if any found. Default value is 0.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"maximum": 2147483647,
						"minimum": 0
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Max count of budgets in a list. Default value is 50.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 50,
						"maximum": 10000,
						"minimum": 1
					},
					{
						"name": "orderBy",
						"in": "query",
						"description": "Optional, field name for order. Possible values: 'code', 'name', 'descrition', 'createdAt' or 'lastModiedAt'. Defaut value is 'code'",
						"required": false,
						"type": "string",
						"default": "Code"
					},
					{
						"name": "asc",
						"in": "query",
						"description": "Optional, asceding or desceding order. The default value is true.",
						"required": false,
						"type": "boolean",
						"default": true
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns the list of budgets scenarios",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetViewModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": [
					"Budgets"
				],
				"summary": "Creates new budget scenario",
				"description": "Creates new budget scenario.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgetScenarios\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "createBudget",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "model",
						"in": "body",
						"description": "Object that contain properties of new budget scenario.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetModel"
						}
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"201": {
						"description": "Created",
						"headers": {
							"Location": {
								"description": "URL of the created budget scenario",
								"type": "string",
								"format": "url"
							}
						}
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"422": {
						"description": "Validation error"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Budgets"
				],
				"summary": "Budgets api entry point",
				"description": "Returns allowed operations for budgets api.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "budgetsOptions",
				"consumes": [],
				"produces": [
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed budgets api _links",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/{id}": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Returns Budget by specified ID.",
				"description": "Returns Budget scenario by specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getBudgetById",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Budget ID",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns requested budget scenario",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetViewModel"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget with specified id does not exist"
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": [
					"Budgets"
				],
				"summary": "Updates budget scenario",
				"description": "Updates existed budget scenario.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgetScenarios\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "updateBudget",
				"consumes": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json-patch+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/hal+json",
					"application/vnd.twinfield+json",
					"application/json",
					"text/json",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of Budget",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "model",
						"in": "body",
						"description": "Object that contain properties required to update",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.BudgetUpdateModel"
						}
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"400": {
						"description": "Incorrect JSON provided"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget scenario with specified identification does not exist"
					},
					"422": {
						"description": "Validation error"
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": [
					"Budgets"
				],
				"summary": "Deletes budget by specified ID",
				"description": "Deletes budget scenario by specified ID.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user writeBudgetScenarios\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "deleteBudget",
				"consumes": [],
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Budget ID",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"204": {
						"description": "Response does not have any content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget with specified id does not exist"
					}
				},
				"deprecated": false
			},
			"options": {
				"tags": [
					"Budgets"
				],
				"summary": "Returns list of actions",
				"description": "Returns allowed operations for a budget.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | readBudgetScenarios | writeBudgets | writeBudgetScenarios)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "budgetOptions",
				"consumes": [],
				"produces": [
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "Budget ID",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns allowed _links",
						"headers": {
							"Allow": {
								"description": "Allow header shows applicable HTTP methods for this endpoint",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Budget with specified id does not exist"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/annual": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Get annual budget view",
				"description": "Get all annual budgets summaries.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "getAnnualBudgets",
				"consumes": [],
				"produces": [
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "searchPattern",
						"in": "query",
						"description": "Optional, pattern for search budgets by its code, name or description.",
						"required": false,
						"type": "string",
						"default": "normal"
					},
					{
						"name": "modifiedSince",
						"in": "query",
						"description": "Optional. Filters budgets modified since specified date. The default value is null.",
						"required": false,
						"type": "string",
						"format": "date-time",
						"default": "2022-02-01"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Offset. Number of budgets that should be skiped if any found. Default value is 0.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"maximum": 2147483647,
						"minimum": 0
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Max count of budgets in a list. Default value is 50.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 50,
						"maximum": 10000,
						"minimum": 1
					},
					{
						"name": "orderBy",
						"in": "query",
						"description": "Optional, field name for order. Possible values: 'code', 'name', 'descrition', 'year', 'createdAt' or 'lastModiedAt'. Defaut value is 'code'",
						"required": false,
						"type": "string",
						"default": "Code"
					},
					{
						"name": "asc",
						"in": "query",
						"description": "Optional, asceding or desceding order. The default value is true.",
						"required": false,
						"type": "boolean",
						"default": true
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns the list of annual budget summaries",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.Budgeting.Models.AnnualBudgetView"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/budgeting/budgets/{id}/export/{year}": {
			"get": {
				"tags": [
					"Budgets"
				],
				"summary": "Exports budgets",
				"description": "Exports budgets.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user (readBudgets | writeBudgets)\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "exportBudgets",
				"consumes": [],
				"produces": [
					"application/octet-stream"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "year",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "fileType",
						"in": "query",
						"description": "File format",
						"required": true,
						"type": "string",
						"default": "csv"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns exported budgets file",
						"schema": {
							"$ref": "#/definitions/System.Net.Http.StreamContent"
						}
					},
					"400": {
						"description": "The specified file type is not supported. Supported file formats are CSV and XLSX."
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "No budget with specified id exists"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/fixedassets/assets/{id}/actions": {
			"get": {
				"tags": [
					"Fixed Assets Assets"
				],
				"summary": "Returns actions of the fixed asset.",
				"description": "Returns actions of the fixed asset. Caching can be used. Response body (the resource itself) and 'ETag' response header should be stored on the client side.\r\nThe saved ETag should be passed in a 'If-None-Match' header on further requests to the endpoint.\r\nIf the resource is not changed, a NotModified (304) response will be sent back.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user readFixedAssets\u003C/b\u003E\u003Cbr\u003E",
				"operationId": "GetFixedAssetActions",
				"consumes": [],
				"produces": [
					"application/json",
					"application/vnd.twinfield+json",
					"application/hal+json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"description": "Version of fixed asset actions resource. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					}
				],
				"responses": {
					"200": {
						"description": "Returns actions of the fixed asset.",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.FixedAssets.Assets.Actions.Structures.FixedAssetActionsModel"
						},
						"headers": {
							"ETag": {
								"description": "Version of asset",
								"type": "string"
							}
						}
					},
					"304": {
						"description": "Asset actions were not changed.",
						"headers": {
							"ETag": {
								"description": "Version of asset",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Fixed asset with specified id does not exist."
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/fixedassets/classes/{id}": {
			"get": {
				"tags": [
					"Fixed Assets Classes"
				],
				"summary": "Returns the requested fixed asset class details.",
				"description": "Returns the requested fixed asset class details. Caching can be used. Response body (the resource itself) and 'ETag' response header should be stored on the client side.\r\nThe saved ETag should be passed in a 'If-None-Match' header on further requests to the endpoint.\r\nIf the resource is not changed, a NotModified (304) response will be sent back.\u003Cbr\u003EThe \u003Ca href='https://wktaaeu.my.site.com/nlcommunity/s/article/Setting-up-OAuth-2-0-Request-an-authorization-code?language=en_US'\u003Eauthorization scopes\u003C/a\u003E required for this operation are:\u003Cbr\u003E\u003Cb\u003Eopenid twf.organisationUser twf.user readFixedAssets\u003C/b\u003E\u003Cbr\u003E Response model returns only fields marked as default unless explicitly requested via the fields parameter \u003Ca href='#fields-parameter-documentation'\u003Esee extended documentation\u003C/a\u003E",
				"operationId": "GetClass",
				"consumes": [],
				"produces": [
					"application/vnd.twinfield+json",
					"application/hal+json",
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Specifying certain media types (application/hal+json, application/json) \r\n\t\t\twhich are acceptable for the response. \r\n\t\t\tSpecifying required API version in format 'version=api_version', where 'api_version' is number or 'latest'",
						"required": false,
						"type": "string",
						"default": "application/hal+json;version=latest"
					},
					{
						"name": "If-None-Match",
						"in": "header",
						"description": "Version of fixed asset class resource. Could be '*' or version number",
						"required": false,
						"type": "string"
					},
					{
						"name": "organisationId",
						"in": "path",
						"description": "The GUID of the organisation",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "companyId",
						"in": "path",
						"description": "The GUID of the company",
						"required": true,
						"type": "string",
						"format": "uuid"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "Specify fields to include in the response. When not present, the default set of fields is used. Use an asterisk '*' to include all fields. \u003Ca href='#fields-parameter-documentation'\u003Esee extended documentation\u003C/a\u003E",
						"required": false,
						"type": "string",
						"default": "field/subfield, otherfield/*"
					}
				],
				"responses": {
					"200": {
						"description": "Returns the requested fixed asset class details.",
						"schema": {
							"$ref": "#/definitions/Twinfield.Web.Api.FixedAssets.Classes.Structures.FixedAssetClassDetails"
						},
						"headers": {
							"ETag": {
								"description": "Version of asset",
								"type": "string"
							}
						}
					},
					"304": {
						"description": "Class was not changed",
						"headers": {
							"ETag": {
								"description": "Version of asset",
								"type": "string"
							}
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "The current role doesn't have access to this functionality"
					},
					"404": {
						"description": "Class with the specified id does not exist"
					}
				},
				"deprecated": false
			}
		},
		"/organisations/{organisationId}/companies/{companyId}/fixedassets/classes": {
			"get": {
				"tags": [
					"Fixed Assets Classes"
				],
				"summary": "Returns a list of fixed asset classes.",
[...]
